.game-screen{
    margin-left:10px;
    margin-top:10px;
}
#border{
    width:1176px;
    height:496px;
    margin:30px;
    background-color: greenyellow;
    border-style: outset;
    border-color: gray;
}
.tail{
    width:20px;
    height:20px;
    background-color: green;
    position: absolute;
}
.food{
    background-image: url("./imgs/apple.svg");
    width:20px;
    height:20px;
    position:absolute;
}
#score{
    position:absolute;
    width:30px;
    height:20px;
    background-color: grey;
    right:10px;
}
.loser{
    color:red;
    height:200px;
    width:200px;
    position:absolute;
    top:300px;
    left:300px;
}